body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Светло-голубой фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Расстояние между элементами */
}

    form input[type="text"], form select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
    }

    form input[type="submit"], form button {
        background-color: #4CAF50; /* Зеленая кнопка */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

        form input[type="submit"]:hover, form button:hover {
            background-color: #45a049;
        }

h3 {
    color: #ff4500; /* Цвет результата */
    margin-top: 20px;
}
